<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="fragment/header"/>
    <title>글 보기</title>
</head>
<body>
<th:block th:insert="fragment/bodyHeader"/>

<div class="container-fluid p-5 text-center">
    <h1>글 보기</h1>
</div>
<div class="container mt-3">
    <div  th:object="${board}">
            <div>제목: <p class="border" th:text="${board.title}"/></div>
            <div>내용:</div>
            <div class="border" style="height:150px">
                <p th:text=${board.boardContent}></p>
            </div>
    </div>
    </hr>
    <div class="card">
        <div class="card-body">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            <a href="#" class="btn btn-primary">댓글 달기</a>
        </div>
    </div>
    </hr>
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul id="reply-box" class="list-group">
        </ul>
    </div>
</div>
</body>
</html>