


<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <th:block th:include="fragment/header"/>
    <link href="/my_css/cartForm.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <th:block th:include="fragment/bodyHeader"/>
    <section>
      장바구니 페이지
    </section>
    <article>
    <div class="item" th:each = "cartItem:${cartDto.cartItems}">
        아이템 이름:<span th:text = "${cartItem.item.name}"></span> <br/>
        아이템 설명:<span th:text = "${cartItem.item.description}"></span>
    </div>
    </article>

    <aside>
        사이드입니다.
    </aside>
    <footer>
        footer 입니다
    </footer>
    <a class="btn btn-primary" href="/order/getCreateOrderForm" type="button">주문하기</a>
</body>

</html>